/* Created by AshrafMorningstar - https://github.com/AshrafMorningstar */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

:root {
  --bg-gradient: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  --glass-bg: rgba(255, 255, 255, 0.1);
  --glass-border: rgba(255, 255, 255, 0.2);
  --text-primary: #ffffff;
  --text-secondary: #a0a0a0;
  --accent-color: #00f260;
  --accent-gradient: linear-gradient(to right, #0575e6, #021b79);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: black; /* Default */
}
